* {
  font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.top-menu {
  background-color: #2b2b2b;
  height: 64px;
  display: flex;
}

.nav-bar {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.nav-align {
  display: flex;
  height: 100%;
  margin-left: 14px;
}

.nav-text {
  color: #ffffff;
}

.nav-text, .nav-text-grey {
  font-size: 10px;
  margin-top: auto;
  margin-bottom: 15px;
  padding: 0px 5px;
  font-weight: 100;
}

.nav-text-grey {
  color: #7b7b7b;
}

.user {
  height: 10px;
  margin: auto 0px 16px;
}

.logo {
  font-family: 'Aleo', serif;
}

.arrow, .user-profile {
  height: 8px;
}

.admin-bar {
  color: #27b5fe;
  font-size: 8px;
}

main {
  background-color: #efefef;
  overflow: auto;
}

.corner-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-corner {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-right: 10px;
  justify-content: space-between;
  width: 90px;
}

.upper-corner, .lower-corner {
  display: flex;
}

.lower-corner {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  color: white;
}

.bao {
  height: 20px;
  margin: 0px 10px 5px 5px;
}

.menu-title {
  font-size: 15px;
  margin-left: 14px;
  margin-top: 7px;
}

.card-grid {
  margin: 10px 15px 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 8px;
}

.card {
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.4);
  height: 200px;
  width: 150px;
  background-color: white;
  border-radius: 1px;
}

.preview {
  width: 100%;
  height: 40%;
  position: relative;
  background-color: black;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.preview-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 50%;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.preview-icon {
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 10px;
  height: 25px;
  color: white;
}

.view {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 8px;
  color: #ffffff;
  font-size: 6px;
}

.view-number {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

.dish-card {
  height: 60%;
}

.dish-name, .time-stamp, .link-text, .cuisine, .location, .attachment-title {
  color: #2b2b2b;
}

.dish-name {
  font-size: 8px;
  margin: 8px 10px 0px;
}

.time-stamp {
  font-size: 5px;
  margin-left: 10px;
}

.link-center {
  margin: 7px 0px;
  display: flex;
  justify-content: center;
}

.link {
  background-color: #efefef;
  display: flex;
  align-items: center;
  height: 20px;
  width: 88%;
  border-radius: 1px;
}

.link-text {
  font-size: 6px;
  margin-left: 5px;
}

.cuisine {
  font-size: 6px;
  margin-left: 10px;
  font-weight: 800;
}

.location {
  font-size: 8px;
  margin-left: 10px;
  margin-bottom: 7px;
}

.attachment-title {
  margin-left: 10px;
  font-size: 6px;
  font-weight: 800;
}

.attachment-number {
  margin-left: 10px;
  font-size: 12px;
  color: #27b5fe;
}

@media screen and (max-width: 640px) {

  .card-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 550px) {

  .card-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 470px) {

  .body {
    width: 100vw;
    overflow: auto;
  }

  .top-menu {
    width: 100vw;
  }

  .corner-menu {
    justify-content: flex-end;
  }

  .user {
    height: 2rem;
  }

  .desktop, .upper-corner, .time-stamp, .view, .view-number {
    display: none!important;
  }

  .user {
    margin-left: 10px;
  }

  .lower-corner {
    margin-right: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .menu-title {
    font-size: 5vw;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    height: 320px;
    width: 90vw;
  }

  .preview-icon {
    height: 10vh;
  }

  .dish-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .dish-name {
    font-size: 5vw;
  }

  .link {
    border-radius: 3px;
    width: 80vw;
    display: flex;
    justify-content: center;
  }

  .link-text {
    font-size: 3vw;
  }

  .cuisine, .attachment-title {
    font-size: 3vw;
  }

  .location, .attachment-number {
    font-size: 4.5vw;
  }
}
